In [12]:
!pip install gsppy

Collecting gsppy
  Downloading gsppy-1.1-py3-none-any.whl (5.7 kB)
Installing collected packages: gsppy
Successfully installed gsppy-1.1

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out. (read timeout=15)")': /packages/9e/56/f95ca67afeac96244b6b005eac91d44c5f717e807dc0a82ba96b6668fc95/gsppy-1.1-py3-none-any.whl

In [13]:
import pandas as pd
import numpy as np
from gsppy.gsp import GSP

# a.

In [9]:
df = pd.read_csv('datasets/Sequences.csv', delimiter=',', header=None)

In [10]:
df

    0     1     2     3     4     5     6     7     8     9   10  11  12  13
0   25  37.0  47.0  48.0   NaN   NaN   NaN   NaN   NaN   NaN NaN NaN NaN NaN
1   44  44.0  45.0  47.0  49.0  23.0   NaN   NaN   NaN   NaN NaN NaN NaN NaN
2   18  23.0  37.0  44.0  18.0  46.0  17.0  42.0  44.0  49.0 NaN NaN NaN NaN
3   26  43.0  48.0   5.0   NaN   NaN   NaN   NaN   NaN   NaN NaN NaN NaN NaN
4   11  38.0  43.0  48.0   9.0  43.0  44.0   NaN   NaN   NaN NaN NaN NaN NaN
..  ..   ...   ...   ...   ...   ...   ...   ...   ...   ...  ..  ..  ..  ..
66  28  32.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN NaN NaN NaN NaN
67  22  20.0  40.0  49.0   NaN   NaN   NaN   NaN   NaN   NaN NaN NaN NaN NaN
68  36  45.0  45.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN NaN NaN NaN NaN
69  26  30.0  31.0  42.0   NaN   NaN   NaN   NaN   NaN   NaN NaN NaN NaN NaN
70  21  31.0  38.0  41.0  27.0  48.0   NaN   NaN   NaN   NaN NaN NaN NaN NaN

[71 rows x 14 columns]

In [11]:
df.shape

(71, 14)

In [23]:
my_array = df.values.tolist()

In [24]:
from numpy import nan

my_array = np.array(my_array)
new_array = my_array[np.logical_not(np.isnan(my_array))]

In [28]:
my_array = [[x for x in y if not np.isnan(x)] for y in my_array]

# b.

In [32]:
result = GSP(my_array).search(0.2)

In [30]:
result

[{(47.0,): 20,
  (48.0,): 16,
  (46.0,): 17,
  (35.0,): 15,
  (43.0,): 21,
  (49.0,): 15,
  (44.0,): 19,
  (42.0,): 16}]

# c.

In [55]:
before = []
for list in my_array:
    for i in range(len(list)):
        if(list[i] == 44 and list[min(i+1, len(list)-1)] == 45):
            for j in range(0, i):
                before.append(list[j])

In [56]:
before

[44.0, 2.0, 13.0, 11.0]