In [ ]:
%cd drive/MyDrive/DataMining/hw3

/content/drive/MyDrive/DataMining/hw3

# <div dir="rtl">سوال۱:</div>

<div dir="rtl">
<div>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import GridSearchCV
import itertools



# <div dir="rtl">a:</div>

<div dir="rtl">

در این قسمت مانند تکلیف دوم مجموعه داده خوانده شده است، سپس مقادیر missing آن مشخص شده و برطرف شده اند. ستون FamilySize براساس تعریف خواسته شده ایجاد شده است. ستون Age برای مقادیر کمتر از 10 برابر با child و برای سایر مقادیر male و female قرار داده شده است. ویژگی های categorical به عددی تبدیل شده اند و متغیرهای x و y برای آموزش مدل ایجاد شده اند.

<div>

In [ ]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.isna().sum(axis=0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df = df.dropna()
df = df.reset_index(drop=True)
df.isna().sum(axis=0)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1

In [ ]:
Age = df['Age']
df['Age'] = df['Sex']
df.loc[Age < 10, "Age"] = 'child'
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,female,1,0,PC 17599,71.2833,C85,C,2
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,female,1,0,113803,53.1000,C123,S,2
2,7,0,1,"McCarthy, Mr. Timothy J",male,male,0,0,17463,51.8625,E46,S,1
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,child,1,1,PP 9549,16.7000,G6,S,3
4,12,1,1,"Bonnell, Miss. Elizabeth",female,female,0,0,113783,26.5500,C103,S,1

In [ ]:
df = df.drop(['Parch', 'SibSp', 'Ticket', 'Name', 'PassengerId'], axis=1)
df.head()

   Survived  Pclass     Sex     Age     Fare Cabin Embarked  FamilySize
0         1       1  female  female  71.2833   C85        C           2
1         1       1  female  female  53.1000  C123        S           2
2         0       1    male    male  51.8625   E46        S           1
3         1       3  female   child  16.7000    G6        S           3
4         1       1  female  female  26.5500  C103        S           1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    204 non-null    int64
 1   Pclass      204 non-null    int64
 2   Sex         204 non-null    object
 3   Age         204 non-null    object
 4   Fare        204 non-null    float64
 5   Cabin       204 non-null    object
 6   Embarked    204 non-null    object
 7   FamilySize  204 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 12.9+ KB

In [ ]:
df = pd.get_dummies(df, columns = ['Sex', 'Age', 'Cabin', 'Embarked'])
df

,Survived,Pclass,Fare,FamilySize,Sex_female,Sex_male,Age_child,Age_female,Age_male,Cabin_A10,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,1,71.2833,2,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1,53.1000,2,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,1,51.8625,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,1,3,16.7000,3,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,1,1,26.5500,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,1,1,52.5542,3,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
200,0,1,5.0000,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
201,1,1,83.1583,2,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
202,1,1,30.0000,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
203,1,1,30.0000,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
X = df.iloc[:, 1:]
y = df.iloc[:, 0]


# <div dir="rtl">b:</div>

<div dir="rtl">

در این قسمت با استفاده از تابع train_test_split داده ها به دو بخش train و test تبدیل شده اند.

<div>

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)



# <div dir="rtl">c:</div>

<div dir="rtl">

در این قسمت با استفاده از تابع MLPClassifier و پارامترهای پیش فرض و بدون استاندارد سازی مدل سازی انجام شده است. همان طور که مشخص است دقت به دست آمده روی داده ی تست برابر 72٪ است.

<div>

In [ ]:
model = MLPClassifier()
model.fit(X_train, y_train)

MLPClassifier()

In [ ]:
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7258064516129032




# <div dir="rtl">d:</div>

<div dir="rtl">

در این قسمت ابتدا با استفاده از تابع StandardScaler و سپس تابع MinMaxScaler استانداردسازی انجام شده است.

در حالتی که استاندارد سازی با استفاده از StandardScaler انجام شده است، دقت مدل روی داده ی تست به 77٪ رسیده است.

در حالتی که استاندارد سازی با استفاده از MinMaxScaler انجام شده است دقت مدل روی داده ی تست به 82% رسیده است.


<div>

In [ ]:
sc = StandardScaler()
X_train_s = sc.fit_transform(X_train)
X_test_s = sc.transform(X_test)

In [ ]:
model.fit(X_train_s, y_train)

MLPClassifier()

In [ ]:
y_pred = model.predict(X_test_s)
accuracy_score(y_test, y_pred)

0.7741935483870968

In [ ]:
mmc = MinMaxScaler()
X_train_m = mmc.fit_transform(X_train)
X_test_m = mmc.transform(X_test)

In [ ]:
model.fit(X_train_m, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPClassifier()

In [ ]:
y_pred = model.predict(X_test_m)
accuracy_score(y_test, y_pred)

0.8225806451612904





# <div dir="rtl">e:</div>

<div dir="rtl">

در این قسمت ابتدا پارامترها مطابق خواسته ی سوال ایجاد شده اند. برای قسمت تعداد لایه و نورون ها یکبار تعداد لایه ثابت و برابر با یک و تعداد نورون ها متغیر و بار دیگر تعداد نورون ها ثابت و برابر 100 و تعداد لایه ها متغیر در نظر گرفته شده است.


<div>

In [ ]:
parameters = [{'solver': ['adam', 'sgd'], 
               'learning_rate_init': [5e-2, 1e-3, 1e-4, 1e1], 
               'hidden_layer_sizes': [(100, ), (200, ), (300, ), (400, ), (500, ), (600, ),
                                      (700, ), (800, ), (900, ), (1000, )],
               'activation': ['relu', 'Tanh']}, 
              {'solver': ['adam', 'sgd'], 
               'learning_rate_init': [5e-2, 1e-3, 1e-4, 1e1], 
               'hidden_layer_sizes': [(100,), (100,100), (100, 100, 100)],
               'activation': ['relu', 'Tanh']}
             ]



<div dir="rtl">

در این جا با استفاده از GridSearchCV بهترین مقدار پارامترهای تعریف شده در بالا برای داده ی استاندارد نشده به دست آمده است. دقت به دست آمده در این مدل روی داده ی تست برابر 82٪ است که نسبت به حالت قبل افزایش داشته است.


<div>

In [ ]:
grid_search = GridSearchCV(estimator = model,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)

In [ ]:
grid_search.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
1040 fits failed out of a total of 2080.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1040 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 752, in fit
    return self._fit(X, y, incremental=False)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 384, in _fit
    self._validate_hyperparameters()
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 495, in _validate_hyperparameters
    % (self.activation, list(sorted(ACTIVATIONS)))
ValueError: The activation 'Tanh' is not supported. Supported activations are ['identity', 'logistic', 'relu', 'softmax', 'tanh'].

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.71904762 0.6552381  0.71904762 0.6052381  0.6347619  0.65571429
 0.62       0.54095238 0.7052381  0.66809524 0.69761905 0.59904762
 0.6552381  0.66238095 0.61333333 0.53761905 0.7052381  0.6552381
 0.71190476 0.5552381  0.66952381 0.64809524 0.59809524 0.53380952
 0.66238095 0.66238095 0.7047619  0.59095238 0.71952381 0.64238095
 0.59142857 0.56238095 0.66952381 0.66238095 0.7052381  0.56952381
 0.67761905 0.6552381  0.59809524 0.42190476 0.67571429 0.66238095
 0.72619048 0.60047619 0.68380952 0.6552381  0.62666667 0.53380952
 0.66952381 0.66238095 0.7052381  0.52666667 0.69761905 0.64857143
 0.6547619  0.53619048 0.66190476 0.66238095 0.72619048 0.57333333
 0.68428571 0.66952381 0.62047619 0.59809524 0.7052381  0.66238095
 0.72619048 0.54190476 0.70428571 0.66952381 0.61333333 0.56952381
 0.71238095 0.66238095 0.72619048 0.52666667 0.70619048 0.64809524
 0.66952381 0.53761905        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan 0.72619048 0.67666667
 0.7052381  0.5552381  0.66952381 0.66238095 0.62666667 0.49809524
 0.71904762 0.66238095 0.71904762 0.68428571 0.66952381 0.64190476
 0.56952381 0.49333333 0.66238095 0.59809524 0.73333333 0.69
 0.71238095 0.67666667 0.5352381  0.59238095        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan]
  category=UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

GridSearchCV(cv=10, estimator=MLPClassifier(), n_jobs=-1,
             param_grid=[{'activation': ['relu', 'Tanh'],
                          'hidden_layer_sizes': [(100,), (200,), (300,), (400,),
                                                 (500,), (600,), (700,), (800,),
                                                 (900,), (1000,)],
                          'learning_rate_init': [0.05, 0.001, 0.0001, 10.0],
                          'solver': ['adam', 'sgd']},
                         {'activation': ['relu', 'Tanh'],
                          'hidden_layer_sizes': [(100,), (100, 100),
                                                 (100, 100, 100)],
                          'learning_rate_init': [0.05, 0.001, 0.0001, 10.0],
                          'solver': ['adam', 'sgd']}],
             scoring='accuracy')

In [ ]:
best_accuracy = grid_search.best_score_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))

Best Accuracy: 73.33 %

In [ ]:
y_pred = grid_search.predict(X_test)
accuracy_score(y_test, y_pred)

0.8387096774193549

In [ ]:
best_parameters = grid_search.best_params_
print("Best Parameters:", best_parameters)

Best Parameters: {'activation': 'relu', 'hidden_layer_sizes': (100, 100, 100), 'learning_rate_init': 0.001, 'solver': 'adam'}



<div dir="rtl">

در این قسمت مدل قبلی بر روی داده ی استاندارد شده با روش StandardScaler آموزش داده شده است. دقت به دست آمده روی داده ی تست برابر 79٪ است که نسبت به حالت قبل افزایش داشته است.


<div>

In [ ]:
grid_search.fit(X_train_s, y_train)
best_accuracy = grid_search.best_score_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
1040 fits failed out of a total of 2080.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1040 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 752, in fit
    return self._fit(X, y, incremental=False)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 384, in _fit
    self._validate_hyperparameters()
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 495, in _validate_hyperparameters
    % (self.activation, list(sorted(ACTIVATIONS)))
ValueError: The activation 'Tanh' is not supported. Supported activations are ['identity', 'logistic', 'relu', 'softmax', 'tanh'].

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.70428571 0.69714286 0.71190476 0.67       0.63380952 0.57666667
 0.59809524 0.33238095 0.69047619 0.67047619 0.69714286 0.6547619
 0.67571429 0.59047619 0.59809524 0.38619048 0.62761905 0.70428571
 0.70428571 0.73333333 0.64809524 0.61809524 0.47809524 0.33952381
 0.59714286 0.65428571 0.70428571 0.72571429 0.67       0.58380952
 0.5352381  0.31095238 0.55714286 0.72666667 0.69714286 0.66904762
 0.68238095 0.59761905 0.59809524 0.33809524 0.55       0.71190476
 0.70428571 0.73380952 0.6552381  0.62809524 0.54952381 0.39333333
 0.55571429 0.65571429 0.71142857 0.73285714 0.68333333 0.68238095
 0.59095238 0.32428571 0.57142857 0.71904762 0.70428571 0.68333333
 0.7047619  0.60571429 0.58380952 0.3647619  0.55619048 0.7052381
 0.70428571 0.67666667 0.67571429 0.65571429 0.59285714 0.35238095
 0.55       0.69666667 0.70428571 0.64095238 0.69       0.62
 0.62714286 0.38857143        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan 0.69142857 0.68904762
 0.69095238 0.59904762 0.65333333 0.59952381 0.56952381 0.32428571
 0.68333333 0.69142857 0.67666667 0.69142857 0.71761905 0.54428571
 0.59809524 0.49809524 0.66809524 0.68333333 0.71857143 0.69857143
 0.66333333 0.62571429 0.59095238 0.5552381         nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan]
  category=UserWarning,

Best Accuracy: 73.38 %

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

In [ ]:
y_pred = grid_search.predict(X_test_s)
accuracy_score(y_test, y_pred)

0.8387096774193549

In [ ]:
best_parameters = grid_search.best_params_
print("Best Parameters:", best_parameters)

Best Parameters: {'activation': 'relu', 'hidden_layer_sizes': (600,), 'learning_rate_init': 0.001, 'solver': 'sgd'}



<div dir="rtl">


در این قسمت مدل قبلی بر روی داده ی استاندارد شده با روش MinMaxScaler آموزش داده شده است. دقت به دست آمده روی داده ی تست برابر 87٪ است که نسبت به حالت قبل افزایش داشته است.

<div>

In [ ]:
grid_search.fit(X_train_m, y_train)
best_accuracy = grid_search.best_score_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
1040 fits failed out of a total of 2080.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1040 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 752, in fit
    return self._fit(X, y, incremental=False)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 384, in _fit
    self._validate_hyperparameters()
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py", line 495, in _validate_hyperparameters
    % (self.activation, list(sorted(ACTIVATIONS)))
ValueError: The activation 'Tanh' is not supported. Supported activations are ['identity', 'logistic', 'relu', 'softmax', 'tanh'].

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.66809524 0.73904762 0.72571429 0.66952381 0.68238095 0.49238095
 0.61952381 0.58380952 0.67619048 0.73238095 0.73285714 0.69095238
 0.72       0.58666667 0.6547619  0.60761905 0.67714286 0.7247619
 0.72619048 0.71047619 0.73952381 0.63380952 0.68285714 0.59952381
 0.68333333 0.73238095 0.73333333 0.67619048 0.75428571 0.64809524
 0.66238095 0.64095238 0.68285714 0.73238095 0.72619048 0.70428571
 0.74666667 0.66190476 0.64809524 0.62095238 0.69047619 0.73238095
 0.72619048 0.69714286 0.71857143 0.6547619  0.67666667 0.57095238
 0.69666667 0.73238095 0.72619048 0.71809524 0.73952381 0.69714286
 0.67666667 0.56380952 0.69761905 0.73952381 0.73285714 0.68190476
 0.72571429 0.68285714 0.68333333 0.57904762 0.68952381 0.74666667
 0.73285714 0.68380952 0.75380952 0.6547619  0.67666667 0.61952381
 0.6547619  0.73952381 0.72619048 0.61952381 0.73285714 0.6552381
 0.64095238 0.5552381         nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan 0.64095238 0.71190476
 0.72571429 0.66952381 0.71857143 0.62714286 0.64809524 0.58380952
 0.67571429 0.7747619  0.71857143 0.63380952 0.74714286 0.61285714
 0.65571429 0.61238095 0.63904762 0.71095238 0.71142857 0.64095238
 0.76809524 0.51380952 0.62619048 0.57904762        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan]
  category=UserWarning,

Best Accuracy: 77.48 %

In [ ]:
y_pred = grid_search.predict(X_test_m)
accuracy_score(y_test, y_pred)

0.8387096774193549

In [ ]:
best_parameters = grid_search.best_params_
print("Best Parameters:", best_parameters)

Best Parameters: {'activation': 'relu', 'hidden_layer_sizes': (100, 100), 'learning_rate_init': 0.05, 'solver': 'sgd'}



# <div dir="rtl">f:</div>

<div dir="rtl">


در این قسمت Confusion matrix برای مدل آخر رسم شده است و مقادیر خواسته شده به دست آمده است.

<div>

In [ ]:
cf = confusion_matrix(y_pred, y_test)
print(cf)

[[14  7]
 [ 3 38]]

In [ ]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.82      0.67      0.74        21
           1       0.84      0.93      0.88        41

    accuracy                           0.84        62
   macro avg       0.83      0.80      0.81        62
weighted avg       0.84      0.84      0.83        62